body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h1:hover {
  cursor: default;
}

.hidden {
  display: none;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  background-color: #89b780;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #81ad79;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.form-input {
  padding: 7px 10px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #93bc80;
  border-radius: 5px;
}

#form-error {
  color: #d14747;
  margin: 5px;
}

.lg {
  padding: 10px 15px;
  font-size: 16px;
}

.profile-icon {
  border-radius: 50%;
}

.loading-img {
  position: 'absolute';
  bottom: 0;
}

.search-results {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin: 2px 0px;
  border-radius: 5px;
}

.search-results:hover {
  background-color: rgba(183, 183, 183, 0.5);
}

.search-results:focus {
  background-color: rgba(183, 183, 183, 0.5);
  outline-width: 0px;
}

.user-list {
  list-style-type: none;
  padding-left: 0px;
}

.leaflet-image-layer {
  height: 20px !important;
  width: 20px !important;
}

#content {
  position: relative;
  top: 80px;
  height: calc(100vh - 80px);
}

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #89b780;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  z-index: 20;
}

#header::after {
  content: "";
  box-shadow: 0px 20px 10px -20px #000 inset;
  position:fixed;
  top: 80px;
  left:0;
  width:100%;
  height:10px;
  z-index: 20;
  overflow: hidden;
}

.header-logo {
  margin-left: 15px;
}

#logo-words {
  display: none;
}

@media (min-width: 600px) {
  #logo-words { display: block; }
  #logo-icon { display: none; }
}

#header-btns {
  display: flex;
}

.freeze-header-btn {
  padding: 0 1em;
  display: flex;
  align-items: center;
  height: 100%;
  color: #FFF;
}

.header-btn {
  padding: 0 1em;
  display: flex;
  align-items: center;
  height: 100%;
  color: #FFF;
}

.header-btn:hover {
  background-color: #b7b7b7;
  cursor: pointer;
}

.header-btn-text {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 80px;
}

#header-profile-icon {
  height: 2.5em;
}

#leaflet-map {
  height: 100%;
  width: 100%;
  z-index: 5;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  background-color: rgba(219, 219, 219, 0.9);
  padding: 10px 15px;
  overflow: hidden;
  overflow-y: scroll;
  width: calc(100vw - 30px);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #696969;
  padding-right: 10px;
  padding-top: 10px;
}

.close-btn:hover {
  color: #4f4f4f;
}

@media (min-width: 600px) {
  .sidebar {
    width: 300px;
    box-shadow: -10px 0 5px -10px #696969;
  }
  #sidebar-close-btn { display: none; }
}

.popup {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(219, 219, 219, 0.9);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

@media (min-width: 768px) and (min-height: 700px) {
  .popup {
    margin: 50px;
    box-shadow: 0px 0 5px 0px #696969;
  }
  #popup-close-btn { display: none; }
}

#homepage-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#blurb {
    text-align: center;
    max-width: 450px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.fb-btn {
  background-color: #3B5998;
  display: flex;
  align-items: center;
}

.fb-btn:hover {
  background-color: #344f89;
}

.fb-logo {
  padding-right: 10px;
}

.list-items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 16px;
}

.list-item-event {
  padding: 10px 15px;
  margin: 2px 0px;
  border-radius: 5px;
  background-color: rgba(183, 183, 183, 0.5);
  text-align: left;
  min-width: 200px;
}

.list-item-event:hover {
  background-color: rgba(145, 145, 145, 0.5);
}

.event-name-container {
  display: flex;
  justify-content: space-between;
}

.event-name {
  font-weight: bold;
}

.event-date {
  font-size: 14px;
  color: #4f4f4f;
}

.event-greenspace {
  text-align: right;
}

.list-item-pending {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pending-btns {
  display: flex;
  align-items: center;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
}

.pending-btns .pending-btn:not(:last-child) {
    border-right: 1px solid #4f4f4f; /* Prevent double borders */
}

.pending-btn {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f4f4f;
}

.pending-btn:hover {
  background-color: #4f4f4f;
  color: #919191;
}

.list-item-participant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 2px 0px;
  border-radius: 5px;
  background-color: rgba(183, 183, 183, 0.5);
}

#list-items-participant {
  max-height: 105px;
  overflow-y: scroll;
  display: block;
}

#search-icon {
  margin-right: 10px;
}

.event-participant {
  justify-content: flex-start;
}

.event-participant:hover {
  cursor: default;
}

#pending-users {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-item-review {
  padding: 10px 15px;
  margin: 2px 0px;
  border-radius: 5px;
  background-color: rgba(183, 183, 183, 0.5);
}

.list-item-review:hover {
  cursor: default;
}

#back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #696969;
  padding: 0px 5px;
}

#back-button:hover {
  color: #4f4f4f;
  cursor: pointer;
}

#greenspace-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header {
  font-size: 20px;
  margin-bottom: 5px;
}

#greenspace-rating {
  display: flex;
  align-items: center;
}

.greenspace-rating-stars {
  margin-right: 5px;
}

#greenspace-rating-text {
  font-size: 14px;
  color: #4f4f4f;
}

#greenspace-rating-text:hover {
  text-decoration: underline;
}

#upcoming-events {
  margin: 20px 0px;
  font-size: 20px;
}

#upcoming-events:hover {
  cursor: default;
}

#upcoming-events-text {
  margin-bottom: 5px;
}

#add-event {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 5px 5px;
}

#add-event:hover,
#add-event.active {
  background-color: rgba(88, 155, 57, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

#add-event-icon {
  margin-right: 10px;
  margin-bottom: -5px;
}

#calendar-icon {
  margin-right: 10px;
}

#delete-event {
  color: #696969;
}

#delete-event:hover {
  color: #4f4f4f;
}

#add-user-btn {
  color: #696969;
}

#add-user-btn:hover {
  color: #4f4f4f;
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
}

#delete-participant-icon {
  margin-left: 75px;
  cursor: pointer;
}

#explore-btn {
  margin-bottom: 10px;
  min-width: 186px;
}

#event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#event-name {
  font-weight: bold;
  font-size: 24px;
}

#event-time {
  font-size: 14px;
  margin-bottom: 5px;
  color: #4f4f4f;
}

#event-description {
  margin-bottom: 10px;
}

#userview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #dbdbdb;
  height: calc(100vh - 100px);
  width: calc(100vw - 30px);
  padding: 10px 15px;
  overflow: scroll;
}

#userview-user {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

#userview-name {
  margin: 0px 0px 0px 10px;
  font-size: 28px;
}

#userview-content {
  display: flex;
  flex-wrap: wrap;
}

#userview-content > .userview-col:nth-child(odd) {float:left;}
#userview-content > .userview-col:nth-child(even) {float:right;}

.userview-col {
  min-width: 250px;
  flex-grow: 1;
  padding: 0px 5px;
}

.userview-review-greenspace {
  flex: 50%;
  text-align: right;
  margin-left: 0px;
  display: block;
  color: #4f4f4f;
  font-size: 14px;
}

.userview-rating-greenspace {
  display: flex;
  padding-bottom: 6;
}

#userview-explore-header {
  font-weight: bold;
  font-size: 32px;
}

#userview-explore-text {
  font-size: 20;
}

#close-btn {
  float: right;
  height: 20px;
  padding-right: 10px;
  padding-top: 10px;
  color: #696969;
}

#close-btn:hover {
  color: #4f4f4f;
}

#find-loc-btn {
  height: 20px;
  cursor: pointer;
  margin-bottom: 70px;
  margin-left: 5px;
  padding-top: 5px;
  pointer-events: all;
}

.find-loc-div {
  width: 30px;
  height: -30px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.find-loc-div:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.discover-div {
  background: #3F86C1;
  background: radial-gradient(#3f86bf, #367097);
  box-shadow: 0px 0px 7px 1px #696969 !important;
  border: none !important;
}

.discover-div:hover {
  cursor: pointer;
  background: #367097;
  background: radial-gradient(#38709c, #306386);
}

#discover-icon {
  padding: 5px;
  padding-top: 3px;
  color: white;
}

#fav-star-filled {
  margin-left: 7px;
  color: #FEDD45;
  text-shadow: 0px 1px 3px #000;
  font-size: .75em;
  vertical-align: middle;
}
#fav-star-unfilled {
  margin-left: 7px;
  font-size: .75em;
  vertical-align: middle;
}
#fav-star-filled:hover {
  cursor: pointer;
}
#fav-star-unfilled:hover {
  cursor: pointer;
}

#greenspace-name-star {
  display: flex;
  align-items: center;
}

.discover-greenspace {
  background-color: rgba(202, 202, 202, 0.8);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
}

.discover-greenspace:hover {
  cursor: default;
}

.discover-greenspace-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-greenspace-name {
  font-size: 22px;
  font-weight: bold;
}

.discover-hr {
  color: #89b780;
  border-width: 2px;
  border-style: solid;
}

.logo-hover {
  cursor: pointer;
}

#delete-tag-icon {
  margin-left: 4px;
  cursor: pointer;
  color: #696969;
}
#delete-tag-icon:hover {
  margin-left: 4px;
  cursor: pointer;
  color: rgb(79, 79, 79);
}

.list-item-addedTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 2px 0px;
  border-radius: 5px;
  background-color: rgba(183, 183, 183, 0.5);
}

#list-items-addedTag {
  max-height: 105px;
  overflow-y: scroll;
  display: inline-block;
}

.tag-list {
  list-style-type: none;
  padding-left: 0px;
}

#list-items-tag {
  max-height: 110px;
}

.list-item-tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  padding: 2px;
  padding-right: 9px;
  padding-left: 10px;
  background-color: rgba(145, 145, 145, 0.5);
  border-radius: 12px;
  cursor: default;
}


#tag-title-createGreenspace {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#tag-title-discover {
  margin-bottom: 8px;
}

#tag-title-greenspaceInfo {
  margin-top: 20px;
}
#tags-greenspace {
  align-self: flex-end;
}

#tag-title-createEvent {
  margin-bottom: 8px;
}

#tutorial-dots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tutorial-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.zoom-gif {
  border-radius: 50%;
  box-shadow: 0px 0 5px 0px #696969;
}

.tutorial-gif {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0;
  visibility: hidden;
}

.tutorial-gif:hover {
  cursor: pointer;
}

.tutorial-gif.show {
  opacity: 1;
  visibility: visible;
}

#carousel-text {
  width: 200px;
  position: relative;
  height: 66px;
  display: flex;
  align-items: center;
}

#carousel-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#no-greenspace-text {
  text-align: center;
  margin: 20px 0px;
}

.carousel-btn {
  top: 5px;
  left: 5px;
  color: #696969;
}

.carousel-btn:hover {
  color: #4f4f4f;
  cursor: pointer;
}

#carousel-back {
  padding-right: 15px;
}

#carousel-forward {
  padding-left: 15px;
}

#carousel-imgs {
  width: 200px;
  height: 200px;
  position: relative;
}

#carousel-imgs:hover {
  cursor: pointer;
}
#circles-container {
  display: flex;
  justify-content: space-around;
  width: 50px;
}

.circle-container {
  color: #696969;
}

.circle-container:hover {
  color: #4f4f4f;
  cursor: pointer;
}

.text-container {
  position: absolute;
  width: 200px;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0;
  visibility: hidden;
}

.text-container.show {
  opacity: 1;
  visibility: visible;
}

.greenspace-accept-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.greenspace-name {
  padding-bottom: 5px;
  text-align: right;
}

.marker-cluster-small {
  background-color: rgba(112, 115, 175, 0.6) !important;
}

.marker-cluster-small div {
  background-color: rgba(140, 144, 216, 0.6) !important;
}
