body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

#header {
  width: 100%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: space-between;
}

#header-logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  color: #7cca7d;
  padding: 10px;
}

#header-btns {
  display: flex;
  align-items: stretch;
}

.header-btn {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.header-btn:hover {
  background-color: gray;
  cursor: pointer;
}

.header-btn-content {
  font-size: 20px;
  font-weight: bold;
}
